@font-face {
  font-family: 'Cinzel';
  src: url('./fonts/Cinzel-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant';
  src: url('./fonts/CormorantGaramond-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('./kqbg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

.card {
  padding: 150px 40px;
  max-width: 800px;
  margin: 100px auto;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

h1, h2, h3 {
  color: #b5953a;
  font-family: 'Cinzel', Arial, Helvetica, sans-serif;
  text-align: center; 
  font-size: 30px;
}

p {
  font-family: 'Cormorant', serif;
  font-weight: 500; 
  font-style: normal;
  font-size: 24px;
  margin: 12px 0;
  text-align: center;
  line-height: 1.6;
}

.cm li{
  font-family: 'Cormorant', serif;
  font-weight: 500; 
  font-style: normal;
  font-size: 24px;
  margin: 12px 0;
  text-align: left;
  line-height: 1.6;
  margin-left: 200px;
  padding: 0px 0px 0px 0px;
}

nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 53px;
  background-color: #1c1c1c;
  font-family: 'Cinzel' Arial, sans-serif;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  border-bottom: 2px solid #b5953a;
}

nav a {
  font-family: 'Cinzel', Arial, Helvetica, sans-serif;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #c7c7c7;
  font-size: 18px;
  transition: all 0.3s;
  position: relative;
}

nav a:hover {
  background-color: #2f2f2f;
  color: #d4af37;
}

nav a.active {
  background-color: #d4af37;
  color: #1a1a1a;
  font-weight: bold;
  border-bottom: 3px solid #000000;
}

.sidebar {
  position: fixed;
  top: 55px;                
  left: -120px;            
  width: 140px;
  height: calc(100vh - 60px);
  background: linear-gradient(90deg, #2d2d2d, #1a1a1a);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  transition: left 0.3s;    
  z-index: 999;
}

.sidebar:hover {
  left: 0;
}

.sidebar a {
  width: 50px;          
  margin: 10px 0;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: left;
  border-radius: 6px;
  transition: width 0.3s, padding 0.3s, background-color 0.3s;
}

.sidebar:hover a {
  width: 120px;              
  padding-left: 10px;
}

.sidebar a:hover {
  background-color: #2f2f2f;
  color: #d4af37;
}

.sidebar a.active {
  background-color: #d4af37; 
  color: #1a1a1a; 
  font-weight: bold;
}
